{% extends 'layout_general.html' %}
{% load static %}

{% block title%}
<title>后台管理-编辑创业数据信息</title>
{% endblock %}

{% block content %}
<section class="sm_section">
    <form method="post" novalidate>
        {% csrf_token %}
        <fieldset class="message_fieldset">
            <legend>编辑受访者{{ nid }}的信息</legend>
            <div class="message_con">
                {% for field in form %}
                    <div class="message_con">
                        <label>{{ field.label }}：</label>{{ field }}
                        <div class="message_con" style="color: red">{{ field.errors.0 }}</div>
                    </div>
                {% endfor %}
            </div>
            <div class="message_footer">
                <button class="bule" type="submit">保存</button>
                <button class="orgen" type="button" onclick="goBack()">取消</button>
            </div>
            <h1><!--占位一行--></h1>
        </fieldset>
    </form>
</section>
{% endblock %}
